*
{
    -webkit-appearance: none;
}

.avatar_user_admin
{
    width: 100%;
    margin-top:10px;
    margin-bottom: 8px;
    margin-leff:50px;
    padding: 3px;
    border: 4px solid #d2d6de;
    border-radius: 50%;

}
.img_cau
{
    width:100%;
    margin-top:8px;
    margin-bottom: 8px;
    padding: 3px;
    border: 4px solid #337AB5;

}


.small-box .icon {
top: 7px;
right: 30px;
font-size: 60px;
transition : none;
animation : none;
}

.small-box:hover .icon {
    top: 7px;
    right: 30px;
    font-size: 60px;
    transition : none;
    animation : none;


}
#title_home
{
    font-size:40px;
    font-weight: bold;
    margin-left : 20px;
    margin-top:20px;
}

h4
{
    text-decoration: underline;
}
